.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: rgb(100,76,8);
    
}
.middle ul {
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
    cursor: pointer;
}
.middle ul li{
    margin: 0px 25px;
}
h2{
    font-size: 20px;
}
.left{
    flex: 3;
}
.middle{
    flex: 4;
}
.search{
    flex: 2;
}
.right{
    flex: 4;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    cursor: pointer;
}
.bannerSection{
    margin: 8px 2px;
}
.bannerBox img{
    width: 100%;
}
.menImages{
    display: flex;
    gap:30px;
}
.menImages img{
    width: 230px;
    height: 220px;
}
.bannerBox{
  margin-bottom: 20px;
}
.footer{
    margin: 15px 10px;
}
.footer img{
    width: 100%;
}
.srch input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}
.signin{
    margin-left: 50px;
}
.cart{
    margin-right: 50px;
}
